@import "src/style/variables";

.item {
  margin: 20px 0;
  border-radius: $radii;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.piece {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.originalLink {
  margin-right: 20px;
  font-size: $m-text;
}
.shortLink {
  margin-right: 20px;
  font-size: $m-text;
  color: $green;
}
.button {
  color: $text-color;
  padding: 10px 15px;
  border-radius: $radii;
}

.copyButton {
  margin-right: 15px;
  background: $green;
  font-size: $s-text;
  font-weight: 700;
  &:hover {
    background: $light-green;
  }
}
.deleteButton {
  background: #3b3054;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
