@import "src/style/variables";

.form {
  max-width: 600px;
  padding: 30px 25px;
  margin: 0 auto;
  border-radius: $radii;
  background-color: $form-bg;
  position: relative;
}
.button {
  width: 30%;
  height: 55px;
  //padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radii;
  cursor: pointer;
  color: $text-color;
  font-weight: 700;
  background: $green;
  font-size: $s-text;
  &:hover {
    background: $light-green;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
.input {
  width: 70%;
  height: 55px;
  margin-right: 15px;
  padding: 15px;
  border-radius: $radii;
  font-size: $l-text;
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.error {
  color: $error-color;
  transform: translate(0, 50%);
  position: absolute;
  bottom: 15px;
  left: 25px;
  font-size: $s-text;
}
